<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Overview" data-toc-modified-id="Overview-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Overview</a></span></li><li><span><a href="#Data-Preprocessing" data-toc-modified-id="Data-Preprocessing-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data Preprocessing</a></span><ul class="toc-item"><li><span><a href="#Loading-data" data-toc-modified-id="Loading-data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Loading data</a></span></li><li><span><a href="#Getting-the-name-of-the-target" data-toc-modified-id="Getting-the-name-of-the-target-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Getting the name of the target</a></span></li><li><span><a href="#Dividing-the-Training-data-into-Training-and-Validation" data-toc-modified-id="Dividing-the-Training-data-into-Training-and-Validation-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Dividing the Training data into Training and Validation</a></span></li><li><span><a href="#Handling-the-Identifiers" data-toc-modified-id="Handling-the-Identifiers-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Handling the Identifiers</a></span><ul class="toc-item"><li><span><a href="#Combining-the-training,-validation-and-testing-data" data-toc-modified-id="Combining-the-training,-validation-and-testing-data-2.4.1"><span class="toc-item-num">2.4.1&nbsp;&nbsp;</span>Combining the training, validation and testing data</a></span></li><li><span><a href="#Identifying-the-identifiers" data-toc-modified-id="Identifying-the-identifiers-2.4.2"><span class="toc-item-num">2.4.2&nbsp;&nbsp;</span>Identifying the identifiers</a></span></li><li><span><a href="#Removing-the-Identifiers" data-toc-modified-id="Removing-the-Identifiers-2.4.3"><span class="toc-item-num">2.4.3&nbsp;&nbsp;</span>Removing the Identifiers</a></span></li></ul></li><li><span><a href="#Handling-Missing-Data" data-toc-modified-id="Handling-Missing-Data-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Handling Missing Data</a></span><ul class="toc-item"><li><span><a href="#Combining-the-training,-validation-and-testing-data" data-toc-modified-id="Combining-the-training,-validation-and-testing-data-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>Combining the training, validation and testing data</a></span></li><li><span><a href="#Identifying-missing-values" data-toc-modified-id="Identifying-missing-values-2.5.2"><span class="toc-item-num">2.5.2&nbsp;&nbsp;</span>Identifying missing values</a></span></li><li><span><a href="#Removing-missing-values" data-toc-modified-id="Removing-missing-values-2.5.3"><span class="toc-item-num">2.5.3&nbsp;&nbsp;</span>Removing missing values</a></span></li></ul></li><li><span><a href="#Encoding-the-data" data-toc-modified-id="Encoding-the-data-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Encoding the data</a></span><ul class="toc-item"><li><span><a href="#Combining-the-training,-validation-and-testing-data" data-toc-modified-id="Combining-the-training,-validation-and-testing-data-2.6.1"><span class="toc-item-num">2.6.1&nbsp;&nbsp;</span>Combining the training, validation and testing data</a></span></li><li><span><a href="#Identifying-the-Categorical-Variables" data-toc-modified-id="Identifying-the-Categorical-Variables-2.6.2"><span class="toc-item-num">2.6.2&nbsp;&nbsp;</span>Identifying the Categorical Variables</a></span></li><li><span><a href="#Encoding-the-categorical-features" data-toc-modified-id="Encoding-the-categorical-features-2.6.3"><span class="toc-item-num">2.6.3&nbsp;&nbsp;</span>Encoding the categorical features</a></span></li><li><span><a href="#Encoding-the-categorical-target" data-toc-modified-id="Encoding-the-categorical-target-2.6.4"><span class="toc-item-num">2.6.4&nbsp;&nbsp;</span>Encoding the categorical target</a></span></li><li><span><a href="#Separating-the-training,-validation-and-testing-data" data-toc-modified-id="Separating-the-training,-validation-and-testing-data-2.6.5"><span class="toc-item-num">2.6.5&nbsp;&nbsp;</span>Separating the training, validation and testing data</a></span></li></ul></li><li><span><a href="#Getting-the-name-of-the-features" data-toc-modified-id="Getting-the-name-of-the-features-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>Getting the name of the features</a></span></li><li><span><a href="#Scaling-the-data" data-toc-modified-id="Scaling-the-data-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>Scaling the data</a></span></li><li><span><a href="#Getting-the-feature-matrix-and-target-vector" data-toc-modified-id="Getting-the-feature-matrix-and-target-vector-2.9"><span class="toc-item-num">2.9&nbsp;&nbsp;</span>Getting the feature matrix and target vector</a></span></li></ul></li><li><span><a href="#Hyperparameter-Tuning-and-Model-Selection" data-toc-modified-id="Hyperparameter-Tuning-and-Model-Selection-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Hyperparameter Tuning and Model Selection</a></span><ul class="toc-item"><li><span><a href="#Creating-the-Dictionary-of-the-Models" data-toc-modified-id="Creating-the-Dictionary-of-the-Models-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Creating the Dictionary of the Models</a></span></li><li><span><a href="#Creating-the-Dictionary-of-the-Pipelines" data-toc-modified-id="Creating-the-Dictionary-of-the-Pipelines-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Creating the Dictionary of the Pipelines</a></span></li><li><span><a href="#Hyperparameter-Tuning-and-Model-Selection-using-Sklearn-(0.22-or-above)" data-toc-modified-id="Hyperparameter-Tuning-and-Model-Selection-using-Sklearn-(0.22-or-above)-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Hyperparameter Tuning and Model Selection using Sklearn (0.22 or above)</a></span><ul class="toc-item"><li><span><a href="#Getting-the-Predefined-Split-Cross-Validator" data-toc-modified-id="Getting-the-Predefined-Split-Cross-Validator-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Getting the Predefined Split Cross-Validator</a></span></li><li><span><a href="#Creating-the-Dictionary-of-the-Parameter-Grids" data-toc-modified-id="Creating-the-Dictionary-of-the-Parameter-Grids-3.3.2"><span class="toc-item-num">3.3.2&nbsp;&nbsp;</span>Creating the Dictionary of the Parameter Grids</a></span><ul class="toc-item"><li><span><a href="#The-parameter-grid-for-logistic-regression" data-toc-modified-id="The-parameter-grid-for-logistic-regression-3.3.2.1"><span class="toc-item-num">3.3.2.1&nbsp;&nbsp;</span>The parameter grid for logistic regression</a></span></li></ul></li><li><span><a href="#Creating-the-Directory-for-the-CV-Results." data-toc-modified-id="Creating-the-Directory-for-the-CV-Results.-3.3.3"><span class="toc-item-num">3.3.3&nbsp;&nbsp;</span>Creating the Directory for the CV Results.</a></span></li><li><span><a href="#Hyperparameter-Tuning" data-toc-modified-id="Hyperparameter-Tuning-3.3.4"><span class="toc-item-num">3.3.4&nbsp;&nbsp;</span>Hyperparameter Tuning</a></span></li><li><span><a href="#Model-Selection" data-toc-modified-id="Model-Selection-3.3.5"><span class="toc-item-num">3.3.5&nbsp;&nbsp;</span>Model Selection</a></span></li></ul></li></ul></li><li><span><a href="#Generating-the-Submission-File" data-toc-modified-id="Generating-the-Submission-File-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Generating the Submission File</a></span></li></ul></div>

<b>

<p>
<center>
<font size="5">
Machine Learning I (DATS 6202), Spring 2020
</font>
</center>
</p>

<p>
<center>
<font size="4">
Homework 4
</font>
</center>
</p>

<p>
<center>
<font size="3">
Data Science, Columbian College of Arts & Sciences, George Washington University
</font>
</center>
</p>

<p>
<center>
<font size="3">
Author: Yuxiao Huang
</font>
</center>
</p>

</b>

# Overview
- Here we will work on kaggle competation [Santander Customer Transaction Prediction](https://www.kaggle.com/c/santander-customer-transaction-prediction/overview)
- The goal of this homework is practicing the following skills discussed in [Case_Study_2](https://github.com/yuxiaohuang/teaching/blob/master/gwu/machine_learning_I/spring_2020/case_study/case_study_1/case_study_1.ipynb):
    - using sklearn LogisticRegression 
    - using GridSearchCV for hyperparameter tuning and model selection
- Complete the missing parts indicated by # Implement me
- Particularly, the code should
    - be bug-free (note that the output produced by your solution may not necessarily be the same as the provided output, due to version issues)
    - be commented
- **Marks will be deducted if the above requirements (for the code) are not met**
- Submit an ipynb file named homework_4.ipynb to [blackboard](https://blackboard.gwu.edu) folder /Assignments/Homework_4/

In [1]:
import warnings
warnings.filterwarnings('ignore')

# Data Preprocessing

## Loading data

In [2]:
import pandas as pd

# Load the raw training data
#df_raw_train = pd.read_csv('../data/train.csv',
#                           header=0)
df_raw_train = pd.read_csv('train.csv', 
                          header = 0)
# Make a copy of df_raw_train
df_train = df_raw_train.copy(deep=True)

# Load the raw testing data
#df_raw_test = pd.read_csv('../data/test.csv',
#                          header=0)
df_raw_test = pd.read_csv('test.csv',
                         header = 0)
# Make a copy of df_raw_test
df_test = df_raw_test.copy(deep=True)

In [3]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  200000        202

In [4]:
# Print the dimension of df_test
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  200000        201

In [5]:
# Print the first 5 rows of df_train
df_train.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [6]:
# Print the first 5 rows of df_test
df_test.head()

,ID_code,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,test_0,11.0656,7.7798,12.9536,9.4292,11.4327,-2.3805,5.8493,18.2675,2.1337,...,-2.1556,11.8495,-1.4300,2.4508,13.7112,2.4669,4.3654,10.7200,15.4722,-8.7197
1,test_1,8.5304,1.2543,11.3047,5.1858,9.1974,-4.0117,6.0196,18.6316,-4.4131,...,10.6165,8.8349,0.9403,10.1282,15.5765,0.4773,-1.4852,9.8714,19.1293,-20.9760
2,test_2,5.4827,-10.3581,10.1407,7.0479,10.2628,9.8052,4.8950,20.2537,1.5233,...,-0.7484,10.9935,1.9803,2.1800,12.9813,2.1281,-7.1086,7.0618,19.8956,-23.1794
3,test_3,8.5374,-1.3222,12.0220,6.5749,8.8458,3.1744,4.9397,20.5660,3.3755,...,9.5702,9.0766,1.6580,3.5813,15.1874,3.1656,3.9567,9.2295,13.0168,-4.2108
4,test_4,11.7058,-0.1327,14.1295,7.7506,9.1035,-8.5848,6.8595,10.6048,2.9890,...,4.2259,9.1723,1.2835,3.3778,19.5542,-0.2860,-5.1612,7.2882,13.9260,-9.1846

## Getting the name of the target

In [7]:
# Implement me
target = 'target'

## Dividing the Training data into Training and Validation
The code below shows how to divide the training data into training (80%) and validation (20%) (using sklearn train_test_split with random_state=42 and stratify).

In [8]:
from sklearn.model_selection import train_test_split

# Implement me
# Divide the training data into training (80%) and validation (20%)
df_train, df_valid = train_test_split(df_train, train_size = 0.8, random_state = 42, stratify = df_train[target])

# Reset the index
df_train, df_valid = df_train.reset_index(drop=True), df_valid.reset_index(drop=True)

In [9]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  160000        202

In [10]:
# Print the dimension of df_valid
pd.DataFrame([[df_valid.shape[0], df_valid.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0   40000        202

## Handling the Identifiers

### Combining the training, validation and testing data
The code below shows how to combine the training, validation and testing data (using pandas concat).

In [11]:
# Combine df_train, df_valid and df_test
df = pd.concat([df_train, df_valid, df_test], sort=False)

### Identifying the identifiers
The code below shows how to find identifiers from the data.

In [12]:
def id_checker(df):
    """
    The identifier checker

    Parameters
    ----------
    df : dataframe
    
    Returns
    ----------
    The dataframe of identifiers
    """
    
    # Get the identifiers
    df_id = df[[var for var in df.columns 
                if df[var].nunique(dropna=True) == df[var].notnull().sum()]]
                
    return df_id

In [13]:
# Call id_checker on df
df_id = id_checker(df)

# Print the first 5 rows of df_id
df_id.head()

        ID_code
0  train_172692
1  train_123366
2    train_6709
3   train_30154
4  train_181706

### Removing the Identifiers
The code below shows how to remove the identifiers from data (using pandas DataFrame.drop).

In [14]:
# Remove the identifiers from df_train
df_train = df_train.drop(columns=df_id.columns)

# Remove the identifiers from df_valid
df_valid = df_valid.drop(columns=df_id.columns)

# Remove the identifiers from df_test
df_test = df_test.drop(columns=df_id.columns)

In [15]:
# Print the first 5 rows of df_train
df_train.head()

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,0,15.4140,-2.1016,10.4773,4.8941,12.6506,-3.7205,5.1426,17.7048,4.2444,...,-2.8810,8.1647,1.0927,2.1215,17.6536,3.2253,-2.1234,8.9516,13.3485,-16.0178
1,0,12.3576,-8.1666,11.7785,2.8869,12.3183,-6.9847,4.2671,9.6710,3.0662,...,0.2397,8.1569,-1.0753,5.4679,23.6376,-0.5022,9.2414,8.2427,10.7546,-3.4394
2,0,9.4142,-8.6132,7.2196,3.2496,10.6550,-3.3245,5.1010,18.5389,1.8721,...,8.1638,9.2399,1.0160,7.4548,17.0933,0.0715,-4.0455,9.4586,17.8789,-13.9784
3,0,13.0647,-0.7917,13.0270,8.7865,10.2252,-2.9311,6.7299,11.8682,-2.1274,...,9.3914,7.5576,0.4784,1.2138,19.0498,-1.5634,7.3092,8.4344,18.1104,-7.7668
4,0,9.5222,-0.2727,8.2173,8.4071,12.7732,-10.3113,4.7486,13.7810,-1.1586,...,8.4802,0.9951,3.9973,1.9370,24.4786,-2.0294,-0.5454,8.7461,21.3832,14.1786

In [16]:
# Print the first 5 rows of df_valid
df_valid.head()

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,0,8.7757,6.7905,9.2920,4.8443,10.8877,3.5858,4.7267,14.1264,1.9131,...,4.8996,4.4960,2.0201,5.0578,18.7864,-0.2550,4.0958,7.9291,17.6055,-7.4019
1,0,7.5491,-8.4764,15.4626,3.6803,12.1527,-7.1858,5.1952,13.7568,2.5632,...,10.2822,11.9053,3.0869,-0.6879,22.3453,-2.1595,4.1147,9.2685,12.2069,1.3086
2,0,5.8385,-6.9177,8.1589,6.7591,9.0635,4.9003,4.7126,21.1854,-3.5385,...,0.0732,10.2627,-0.3105,6.8481,15.2119,-0.5050,1.8873,8.6977,18.6569,11.5001
3,0,15.6901,-7.7904,8.3676,6.3246,9.8144,6.9361,4.5284,11.7888,3.3775,...,11.8331,4.3828,2.9730,2.4989,18.6336,1.0621,-3.8953,8.7950,12.9313,-3.1393
4,0,15.5726,-6.6387,12.0251,7.2093,10.3838,-8.9961,4.8868,18.8259,-5.2734,...,7.9042,10.4118,3.3438,0.4358,16.0511,0.7758,-3.3334,7.7918,18.2619,-3.2074

In [17]:
# Print the first 5 rows of df_test
df_test.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,11.0656,7.7798,12.9536,9.4292,11.4327,-2.3805,5.8493,18.2675,2.1337,8.8100,...,-2.1556,11.8495,-1.4300,2.4508,13.7112,2.4669,4.3654,10.7200,15.4722,-8.7197
1,8.5304,1.2543,11.3047,5.1858,9.1974,-4.0117,6.0196,18.6316,-4.4131,5.9739,...,10.6165,8.8349,0.9403,10.1282,15.5765,0.4773,-1.4852,9.8714,19.1293,-20.9760
2,5.4827,-10.3581,10.1407,7.0479,10.2628,9.8052,4.8950,20.2537,1.5233,8.3442,...,-0.7484,10.9935,1.9803,2.1800,12.9813,2.1281,-7.1086,7.0618,19.8956,-23.1794
3,8.5374,-1.3222,12.0220,6.5749,8.8458,3.1744,4.9397,20.5660,3.3755,7.4578,...,9.5702,9.0766,1.6580,3.5813,15.1874,3.1656,3.9567,9.2295,13.0168,-4.2108
4,11.7058,-0.1327,14.1295,7.7506,9.1035,-8.5848,6.8595,10.6048,2.9890,7.1437,...,4.2259,9.1723,1.2835,3.3778,19.5542,-0.2860,-5.1612,7.2882,13.9260,-9.1846

## Handling Missing Data

### Combining the training, validation and testing data
The code below shows how to combine the training, validation and testing data (using pandas concat).

In [18]:
# Combine df_train, df_valid and df_test
df = pd.concat([df_train, df_valid, df_test], sort=False)

### Identifying missing values

The code below shows how to find variables with NaN (using pandas DataFrame.isna), their proportion of NaN and dtype (data type objects, using pandas Series.dtype).

In [19]:
def nan_checker(df):
    """
    The NaN checker

    Parameters
    ----------
    df : dataframe
    
    Returns
    ----------
    The dataframe of variables with NaN, their proportion of NaN and dtype
    """
    
    # Get the variables with NaN, their proportion of NaN and dtype
    df_nan = pd.DataFrame([[var, df[var].isna().sum() / df.shape[0], df[var].dtype]
                           for var in df.columns if df[var].isna().sum() > 0],
                          columns=['var', 'proportion', 'dtype'])
    
    # Sort df_nan in accending order of the proportion of NaN
    df_nan = df_nan.sort_values(by='proportion', ascending=False).reset_index(drop=True)
    
    return df_nan

In [20]:
# Call nan_checker on df
df_nan = nan_checker(df)

# Print df_nan
df_nan

      var  proportion    dtype
0  target         0.5  float64

In [21]:
# Print the unique dtype of the variables with NaN
pd.DataFrame(df_nan['dtype'].unique(), columns=['dtype'])

     dtype
0  float64

The code below shows how to use dtype to select variables with missing values in the combined training and testing data.

In [22]:
# Get the variables with missing values, their proportion of missing values and dtype
df_miss = df_nan[df_nan['dtype'] == 'float64'].reset_index(drop=True)

# Print df_miss
df_miss

      var  proportion    dtype
0  target         0.5  float64

### Removing missing values
The code below shows how to remove rows with missing values (here we use numpy intersect1d to find the intersection of two series).

In [23]:
import numpy as np

# Remove rows with missing values from df_train
df_train = df_train.dropna(subset=np.intersect1d(df_miss['var'], df_train.columns),
                           inplace=False)

# Remove rows with missing values from df_valid
df_valid = df_valid.dropna(subset=np.intersect1d(df_miss['var'], df_valid.columns),
                           inplace=False)

# Remove rows with missing values from df_test
df_test = df_test.dropna(subset=np.intersect1d(df_miss['var'], df_test.columns),
                         inplace=False)

In [24]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  160000        201

In [25]:
# Print the dimension of df_valid
pd.DataFrame([[df_valid.shape[0], df_valid.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0   40000        201

In [26]:
# Print the dimension of df_test
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  200000        200

## Encoding the data

### Combining the training, validation and testing data
The code below shows how to combine the training, validation and testing data (using pandas concat).

In [27]:
# Combine df_train, df_valid and df_test
df = pd.concat([df_train, df_valid, df_test], sort=False)

# Print the unique dtype of variables in df
pd.DataFrame(df.dtypes.unique(), columns=['dtype'])

     dtype
0  float64

### Identifying the Categorical Variables

The code below shows how to find the categorical variables that have object as dtype (using pandas.Series.dtype).

In [28]:
def cat_var_checker(df):
    """
    The categorical variable checker

    Parameters
    ----------
    df: the dataframe
    
    Returns
    ----------
    The dataframe of categorical variables and their number of unique value
    """
    
    # Get the dataframe of categorical variables and their number of unique value
    df_cat = pd.DataFrame([[var, df[var].nunique(dropna=False)]
                           for var in df.columns if df[var].dtype == 'object'],
                          columns=['var', 'nunique'])
    
    # Sort df_cat in accending order of the number of unique value
    df_cat = df_cat.sort_values(by='nunique', ascending=False).reset_index(drop=True)
    
    return df_cat

In [29]:
# Call cat_var_checker on df
df_cat = cat_var_checker(df)

# Print the dataframe
df_cat

Empty DataFrame
Columns: [var, nunique]
Index: []

### Encoding the categorical features
The code below shows how to encode the categorical features in the combined data (using pandas.get\_dummies).

In [30]:
# Implement me
# One-hot-encode the categorical features in the combined data
df = pd.get_dummies(df, columns = np.setdiff1d(df_cat['var'], [target]))

# Print the first 5 rows of df
df.head()

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,0.0,15.4140,-2.1016,10.4773,4.8941,12.6506,-3.7205,5.1426,17.7048,4.2444,...,-2.8810,8.1647,1.0927,2.1215,17.6536,3.2253,-2.1234,8.9516,13.3485,-16.0178
1,0.0,12.3576,-8.1666,11.7785,2.8869,12.3183,-6.9847,4.2671,9.6710,3.0662,...,0.2397,8.1569,-1.0753,5.4679,23.6376,-0.5022,9.2414,8.2427,10.7546,-3.4394
2,0.0,9.4142,-8.6132,7.2196,3.2496,10.6550,-3.3245,5.1010,18.5389,1.8721,...,8.1638,9.2399,1.0160,7.4548,17.0933,0.0715,-4.0455,9.4586,17.8789,-13.9784
3,0.0,13.0647,-0.7917,13.0270,8.7865,10.2252,-2.9311,6.7299,11.8682,-2.1274,...,9.3914,7.5576,0.4784,1.2138,19.0498,-1.5634,7.3092,8.4344,18.1104,-7.7668
4,0.0,9.5222,-0.2727,8.2173,8.4071,12.7732,-10.3113,4.7486,13.7810,-1.1586,...,8.4802,0.9951,3.9973,1.9370,24.4786,-2.0294,-0.5454,8.7461,21.3832,14.1786

### Encoding the categorical target
The code below shows how to encode the categorical target in the combined data (using sklearn.LabelEncoder).

In [31]:
from sklearn.preprocessing import LabelEncoder

# The LabelEncoder
le = LabelEncoder()

# Implement me
# Encode the categorical target in the combined data
df[target] = le.fit_transform(df[target])

# Print the first 5 rows of df
df.head()

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,0,15.4140,-2.1016,10.4773,4.8941,12.6506,-3.7205,5.1426,17.7048,4.2444,...,-2.8810,8.1647,1.0927,2.1215,17.6536,3.2253,-2.1234,8.9516,13.3485,-16.0178
1,0,12.3576,-8.1666,11.7785,2.8869,12.3183,-6.9847,4.2671,9.6710,3.0662,...,0.2397,8.1569,-1.0753,5.4679,23.6376,-0.5022,9.2414,8.2427,10.7546,-3.4394
2,0,9.4142,-8.6132,7.2196,3.2496,10.6550,-3.3245,5.1010,18.5389,1.8721,...,8.1638,9.2399,1.0160,7.4548,17.0933,0.0715,-4.0455,9.4586,17.8789,-13.9784
3,0,13.0647,-0.7917,13.0270,8.7865,10.2252,-2.9311,6.7299,11.8682,-2.1274,...,9.3914,7.5576,0.4784,1.2138,19.0498,-1.5634,7.3092,8.4344,18.1104,-7.7668
4,0,9.5222,-0.2727,8.2173,8.4071,12.7732,-10.3113,4.7486,13.7810,-1.1586,...,8.4802,0.9951,3.9973,1.9370,24.4786,-2.0294,-0.5454,8.7461,21.3832,14.1786

### Separating the training, validation and testing data
The code below shows how to separate the training, validation and testing data.

In [32]:
# Separating the training data
df_train = df.iloc[:df_train.shape[0], :]

# Separating the validation data
df_valid = df.iloc[df_train.shape[0]:df_train.shape[0] + df_valid.shape[0], :]

# Separating the testing data
df_test = df.iloc[df_train.shape[0] + df_valid.shape[0]:, :]

In [33]:
# Print the dimension of df_remove_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  160000        201

In [34]:
# Print the dimension of df_remove_valid
pd.DataFrame([[df_valid.shape[0], df_valid.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0   40000        201

In [35]:
# Print the dimension of df_remove_test
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  200000        201

## Getting the name of the features

In [36]:
# Implement me
features = np.setdiff1d(df.columns, [target])

## Scaling the data
The code below shows how to standardize the data (using sklearn StandardScaler).

In [37]:
from sklearn.preprocessing import StandardScaler

# The StandardScaler
ss = StandardScaler()

# Implement me
# Standardize the training data
df_train[features] = ss.fit_transform(df_train[features])

# Implement me
# Standardize the validation data
df_valid[features] = ss.transform(df_valid[features])

# Implement me
# Standardize the testing data
df_test[features] = ss.transform(df_test[features])

## Getting the feature matrix and target vector

In [38]:
# Get the feature matrix
X_train = df_train[features].to_numpy()
X_valid = df_valid[features].to_numpy()
X_test = df_test[features].to_numpy()

# Get the target vector
y_train = df_train[target].astype(df_raw_train[target].dtype).to_numpy()
y_valid = df_valid[target].astype(df_raw_train[target].dtype).to_numpy()

# Hyperparameter Tuning and Model Selection

## Creating the Dictionary of the Models
- In the dictionary:
    - the key is the acronym of the model
    - the value is the model

In [39]:
from sklearn.linear_model import LogisticRegression

models = {'lr': LogisticRegression(class_weight='balanced', random_state=42)}

## Creating the Dictionary of the Pipelines
In the dictionary:
- the key is the acronym of the model
- the value is the pipeline, which, for now, only includes the model

In [40]:
from sklearn.pipeline import Pipeline

pipes = {}

for acronym, model in models.items():
    pipes[acronym] = Pipeline([('model', model)])

## Hyperparameter Tuning and Model Selection using Sklearn (0.22 or above)

### Getting the Predefined Split Cross-Validator

In [41]:
from sklearn.model_selection import PredefinedSplit

# Combine the feature matrix in the training and validation data
X_train_valid = np.vstack((X_train, X_valid))

# Combine the target vector in the training and validation data
y_train_valid = np.append(y_train, y_valid)

# Get the indices of training and validation data
train_valid_idxs = np.append(np.full(X_train.shape[0], -1), np.full(X_valid.shape[0], 0))

# The PredefinedSplit
ps = PredefinedSplit(train_valid_idxs)

### Creating the Dictionary of the Parameter Grids
- In the dictionary:
    - the key is the acronym of the model
    - the value is the parameter grid of the model

In [42]:
param_grids = {}

#### The parameter grid for logistic regression
The hyperparameters we want to fine-tune are:
- C
- tol

See details of the meaning of the hyperparametes in [sklearn.linear_model.LogisticRegression](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html)

In [43]:
# The grids for C
C_grids = [10 ** i for i in range(-2, 3)]

# The grids for tol
tol_grids = [10 ** i for i in range(-6, -1)]

# Update param_grids
param_grids['lr'] = [{'model__C': C_grids,
                      'model__tol': tol_grids}]

### Creating the Directory for the CV Results.

In [44]:
import os

# Make directory
directory = os.path.dirname('./cv_results/')
if not os.path.exists(directory):
    os.makedirs(directory)

### Hyperparameter Tuning
- The code below shows how to fine-tune the hyperparameters of LogisticRegression (using sklearn GridSearchCV)
- **Heads-up**: it may take several minutes (or longer) to run the code below, so it is a good time to take a break while the code is running

In [45]:
from sklearn.model_selection import GridSearchCV

# The list of [best_score_, best_params_, best_estimator_] obtained by GridSearchCV
best_score_param_estimator_gs = []

for acronym in pipes.keys():
    # Implement me
    # GridSearchCV
    gs = GridSearchCV(estimator = pipes[acronym],
                      param_grid = param_grids[acronym],
                      scoring = 'f1_micro',
                      n_jobs = 2,
                      cv = ps,
                      return_train_score = True)
        
    # Fit the pipeline
    gs = gs.fit(X_train_valid, y_train_valid)
    
    # Update best_score_param_estimator_gs
    best_score_param_estimator_gs.append([gs.best_score_, gs.best_params_, gs.best_estimator_])
    
    # Sort cv_results in ascending order of 'rank_test_score' and 'std_test_score'
    cv_results = pd.DataFrame.from_dict(gs.cv_results_).sort_values(by=['rank_test_score', 'std_test_score'])
    
    # Get the important columns in cv_results
    important_columns = ['rank_test_score',
                         'mean_test_score', 
                         'std_test_score', 
                         'mean_train_score', 
                         'std_train_score',
                         'mean_fit_time', 
                         'std_fit_time',                        
                         'mean_score_time', 
                         'std_score_time']
    
    # Move the important columns ahead
    cv_results = cv_results[important_columns + sorted(list(set(cv_results.columns) - set(important_columns)))]

    # Write cv_results file
    cv_results.to_csv(path_or_buf='./cv_results/' + acronym + '.csv', index=False)

### Model Selection

In [46]:
# Implement me
# Sort best_score_param_estimator_gs in descending order of the best_score_
best_score_param_estimator_gs = sorted(best_score_param_estimator_gs, key = lambda x : x[0], reverse = True)

# Print best_score_param_estimator_gs
pd.DataFrame(best_score_param_estimator_gs, columns=['best_score', 'best_param', 'best_estimator'])

,best_score,best_param,best_estimator
0,0.7834,"{'model__C': 1, 'model__tol': 0.01}","(LogisticRegression(C=1, class_weight='balance..."

In [47]:
# Implement me
# Get the best_score, best_param and best_estimator obtained by GridSearchCV
best_score_gs, best_param_gs, best_estimator_gs = [item for item in best_score_param_estimator_gs[0]]

# Generating the Submission File

In [48]:
# Get the prediction on the testing data using best_model
y_test_pred = best_estimator_gs.predict(X_test)

# Transform y_test_pred back to the original class
y_test_pred = le.inverse_transform(y_test_pred)

# Get the submission dataframe
df_submit = pd.DataFrame(np.hstack((df_raw_test[['ID_code']], y_test_pred.reshape(-1, 1))),
                         columns=['ID_code', target])

# Generate the submission file
df_submit.to_csv('submission.csv', index=False)